extends ./main.layout.pug 

block content 
  .welcome-section 
    section.hero 
      .container.hero__container
        header.header 
          a.logo(href="#") BA 
          nav.menu
            ul.menu__list 
              - var menuItems = ["Обо мне", "Навыки", "Работа", "Отзывы"];
                each item in menuItems
                  li.menu__item 
                    a(href="#").menu__link #{item}
          ul.socials 
            - var socials = ["insta", "vk", "github", "envelope"];
              each item in socials
                li.socials__item 
                  a(href="#").socials__link
                    +icon(item, "socials__icon")
          
        .userinfo 
          .userinfo__title Личный сайт #[br]веб разработчика
          .userinfo__name Владлена Цензеря


        .hero__bottom-buttons 
          button.scroll-down-btn Скролл
    section.about
      .container.about__container 
        .about__columns
          .about__user 
            .user 
              .user__avatar 
                .user__avatar-style 
                  +image("content/user.jpg", 'user__avatar-pic')
              .user__about
                - 
                  var userInfo = [
                    ['Проживаю:', "Вроцлав"],
                    ['Возраст:', "26 лет"],
                    ['Родилась:', "8 июля 1994"],
                  ];

                table.user__data
                  each item in userInfo
                    tr.user__data-row
                      td.user__table-title #{item[0]}
                      td.user__table-content #{item[1]}
          .about__content
                .about__desc Привет, меня зовут
                .about__title Владлена Цензеря
                .about__text-info
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__ps
                | Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  .middle-section 
    section.values 
      .container 
        .values__title
          h3.values__title-text Чем я могу быть полезен вам
          .values__content
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .values__widget
            - 
              var skillsCategories = [
                ["Frontend", ["HTML5", "CSS3", "Javascript", "Vue.js"]],
                ["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]]
              ];
            ul.skills
              each category in skillsCategories
                li.skills__item(v-for="category in categories")
                  .skills-row
                    .skills-row__title #{category[0]}
                    ul.skills-row__list
                      each skill in category[1]
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 100 100").skill__circle.skill__circle-shape
                              circle(cx="50" cy="50" r="40").skill__circle--layer--under
                              circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform="rotate(180 50 50)").skill__circle--layer--above
                              linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")  
                                stop(offset="0%" stop-color="#243FE5")
                                stop(offset="100%" stop-color="#0788F2")
                            .skill__title #{skill}
    section.works 
      .container 
        .section-title Мои работы
          .works__content 
            .works-preview 
              .works-preview__pictures 
                +image("content/slider1.png", "works-preview__img")
                .works-preview__thumbs 
                  ul.thumbs
                    - for (var i = 4; i > 0; i--)
                      li.thumbs__item 
                        a(href="").thumbs__link
                          +image(`content/slide${i}.png`, "thum")
                .works-preview__btns 
                  .square-btns 
                    button(type="button").square-btns__item.square-btns__item--next
                    button(type="button").square-btns__item.square-btns__item--prev         
              .works-preview__info
                - var tags =["HTML", "CSS", "JavaScript"];
                ul.tags 
                  each item in tags 
                    li.tags__item
                      .tag #{item}
                .works-preview__title Сайт школы образования
                .works-preview__desc
                  p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a(href="").iconed-link Посмотреть сайт
      